@page
@model StatsMonitor.Pages.Statistics.UsersModel
@{
    ViewData["Title"] = "Users Page";
}

<div class="container row p-0 m-0">
    <div class="col-5">
        <h1 class="text-info">Users Page</h1>
    </div>
    <div class="col-7">
        <p>Number of Entries: -not working-</p>
    </div>

    <div class="col-12 mt-3 container row p-0">
        <div class="chart-container col-8 p-0">
            <canvas id="testChart"></canvas>
        </div>
    </div>

    <form id="filterForm" method="post" class="col-12">
        <div class="col-12 p-3 border mt-3 container row">
            <h5 class="col-2">Date filter</h5>

            <div class="form-group row col-4">
                <div class="col-2">
                    <label>From</label>
                </div>
                <div class="col-7">
                    <input type="date" asp-for="DateFilter.FromDate" />
                </div>
            </div>

            <div class="form-group row col-4">
                <div class="col-1">
                    <label>To</label>
                </div>
                <div class="col-7">
                    <input type="date" asp-for="DateFilter.ToDate" />
                </div>
            </div>
            <div class="col-2">
                <input type="submit" class="col-8 offset-2 btn btn-info form-control text-white" />
            </div>
        </div>
    </form>

    <div class="col-12 border p-3 mt-3 mr-1">
        <form id="filterForm" method="post">
            <h5>Date filter</h5>
            <div class="form-group row">
                <div class="col-3">
                    <label>From</label>
                </div>
                <div class="col-4">
                    <input type="date" asp-for="DateFilter.FromDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>To</label>
                </div>
                <div class="col-4">
                    <input type="date" asp-for="DateFilter.ToDate" />
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" class="col-8 offset-2 btn btn-info form-control text-white" />
            </div>
        </form>
    </div>

    <input type="button" id="AddCart" onclick="clickbtn()" value="Submit" />

    <div class="col-auto border p-3 mt-3 mr-1">
        <form id="filterForm" method="post">
            <h5>Date filter</h5>
            <div class="form-group row">
                <div class="col-3">
                    <label>From</label>
                </div>
                <div class="col-4">
                    <input type="date" asp-for="DateFilter.FromDate" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>To</label>
                </div>
                <div class="col-4">
                    <input type="date" asp-for="DateFilter.ToDate" />
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" class="col-8 offset-2 btn btn-info form-control text-white" />
            </div>
        </form>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx1 = document.getElementById('testChart');
        var chart1 = new Chart(ctx1, @Html.Raw(Model.TestChart) );

    });

    function clickbtn() {
        alert("test")
        $.ajax({
            url: "/Users?handler=AddToCart",
            type: 'POST',
            success: function () {
                alert("success");
            },
            failure: function () {
                alert("failure");
            }
        });
    }
</script>